<%= form_with model: product do |form| %>
  <% if form.object.errors.any? %>
    <p style="color: red;" class="error"><%= form.object.errors.full_messages.first %>!</p>
  <% end %>

  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  
  <div>
    <%= form.label :category_ids, "Categories" %>
    <%= form.collection_check_boxes :category_ids, Category.order(:name), :id, :name do |b| %>
      <div>
        <%= b.check_box %>
        <%= b.label %>
      </div>
    <% end %>
  </div>


    <% @product.categories.each do |category| %>
        <span><%= category.name %></span>
    <% end %>



  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.rich_text_area :description %>
  </div>

  <div>
    <%= form.label :featured_image, style: "display: block"%>
    <%= form.file_field :featured_image, accept: "image/*" %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
