<%= form_with model: product do |form| %>
  <% if form.object.errors.any? %>
    <p style="color: red;" class="error"><%= form.object.errors.full_messages.first %>!</p>
  <% end %>

  <div>
    <%= form.label :name, t(".name") %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :category_ids, t(".categories") %>
    <%= form.collection_check_boxes :category_ids, Category.order(:name), :id, :name do |b| %>
      <div>
        <%= b.check_box %>
        <%= b.label %>
      </div>
    <% end %>
  </div>

  <% product.categories.each do |category| %>
    <span><%= category.name %></span>
  <% end %>

  <div>
    <%= form.label :featured_image, t(".featured_image"), style: "display: block" %>
    <%= form.file_field :featured_image, accept: "image/*" %>
  </div>

  <div>
    <%= form.label :description, t(".description"), style: "display: block" %>
    <%= form.rich_text_area :description %>
  </div>

  <div>
    <%= form.label :price, t(".price") %>
    <%= form.number_field :price, step: 0.01, min: 0 %>
  </div>

  <div>
    <%= form.label :inventory_count, style: "display: block" %>
    <%= form.number_field :inventory_count %>
  </div>

  <div>
    <%= form.submit t(".submit") %>
  </div>
<% end %>